  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Hello, you're <em>probably wondering why</em> I put in a link to youtube. And the answer is.......Because I love youtube!</p>
    </div>

    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled social-links">
        <li><a href="https://www.youtube.com/"><%= fa_icon "youtube" %></a></li>
        <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
        <li><a href="https://www.instagram.com/?hl=en"><%= fa_icon "instagram" %></a></li>
        <li><a href="https://www.facebook.com/"><%= fa_icon "facebook" %></a></li>
        <li><a href="https://twitter.com/"><%= fa_icon "twitter" %></a></li>
      </ol>
    </div>
  </div> 
  